.extra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: green;
  margin-bottom: 0.5em;
}

.recursive {
  display: flex;
  color: green;
  margin-right: 0.1em;
  margin-top: 0.1em;
}

.clock {
  display: flex;
  color: gray;
  margin-left: 0.4em;
  margin-top: 0.1em;
}

.checkbox-wrapper label {
    display: flex;
 }
 
 .checkbox-wrapper input[type="checkbox"]{
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 1.8em;
    height: 1.8em;
    border-radius: 0.15em;
    border: 0.15em solid #007a7e;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: opacity 2s;
  }

  .checkbox-animation {
    position: relative;
    transition: all 1s;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3em;
  }

  .circle {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 0.01em;
    height: 0.01em;
    border: 0.01em solid #007a7e;
    background-color:#007a7e;
  }

  .checkbox-wrapper input[type="checkbox"]::before {
    content: "\2713";
    opacity: 0;
    color: #007a7e;
    font-size: 0.9em;
    position: relative;
    right: -5.5px;
    top: 10%;
    transition: opacity 0.15s;
  }

  .checkbox-wrapper input[type="checkbox"]:hover::before {
    opacity: 1;
  }

  .checkbox-wrapper input[type="checkbox"]:checked ~ .circle {
    transform: translate(-50%, -50%) scale(10);
    opacity: 1;
    transition: all 0.3s;
  }

  .checkbox-wrapper input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 0.9em;
    color: #fff;
    position: relative;
    top: 10%;
  }

  .checkbox-wrapper input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: -1.1em;
    left: 0.3em;
  }